<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error">
    <div>{{error}}</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="m-0 vh-100 row justify-conten-center align-items-center">
    <div class="col-auto p-1 text-center" style="width: 50%; margin: 0 auto;">
        <div class="row">
            <h1>Login</h1>
        </div>
        <div class="row">
            <form [formGroup]="loginForm">
                <label for="Usuario">Usuario</label>
                <input type="text" class="form-control " formControlName="username">
                <label for="password">Password</label>
                <input type="password" class="form-control " formControlName="password">
            </form>
        </div>
        <button type="button" class="btn btn-primary mt-5" (click)="ingresar()"
            [disabled]="!loginForm.valid">Ingresar</button>
    </div>

</div>